*{
    margin: 0;
    box-sizing: border-box;
    padding: 0;

}


body{
    background-color: black;
}
.card-img-top{
    border-radius: 50px;
    padding: 20px;
    object-fit: cover;
    height: 300px;

}
.card{
    height: 100%;
    border-radius: 30px;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 0.0625em 0.0625em, rgba(0, 0, 0, 0.25) 0px 0.125em 0.5em, rgba(255, 255, 255, 0.1) 0px 0px 0px 1px inset;
}
.card-body{
    padding: 25px;
    margin-top: -15px;
}
.btn-primary{
    border-radius: 50px;
    width: 120px;
}
.btn-primary :hover{
    background-color: black;
}

.links a{
    text-decoration: none;
    margin: 10px 0px;
    color: white;
    
}
.links :hover{
    color:antiquewhite;
}
.card:hover{
    transform: translateY(-5px);
    box-shadow: 0 0 20px grey;
    transition: ease 0.3s;
}
.social-links a{
    padding-right:30px;
    font-size: 26px;
}